<div id="main-wrapper">
    <app-header></app-header>
    
    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs -->
            <!-- <app-breadcrumbs></app-breadcrumbs> -->
            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-right">
            © {{ year }}  timetrack@app by
            <a href="https://pomeapp.ar/" target="_blank">pomeapp.ar</a>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>
