<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-4x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="error">
    <div class="col-12">
        <div class="alert alert-danger text-center">
            <h4 class="alert-heading">Ocurrió un error</h4>
            <i class="fa fa-exclamation-triangle fa-4x"></i>
            <p class="mb-0">Ocurrió un error reintente en unos minutos, si el error persiste contactarse con soporte.
            </p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title h3">{{tituloFormulario}}</div>
                <hr />

                <!-- Nav tabs -->
                <div class="vtabs customvtab w-100">
                    <ul class="nav nav-tabs tabs-vertical p-t-20" role="tablist" style="width: 170px !important;">
                        <li class="nav-item"> 
                            <a class="nav-link" data-toggle="tab" href="#" role="tab"
                                [class.active]="tabIndex==1"
                                (click)="onClickTab($event,1)">
                                <span role="button">Clientes</span> 
                            </a> 
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" data-toggle="tab" href="#" role="tab"
                                [class.active]="tabIndex==2"
                                (click)="onClickTab($event,2)">
                                <span role="button">Proyectos</span> 
                            </a> 
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" data-toggle="tab" href="#" role="tab"
                                [class.active]="tabIndex==3"
                                (click)="onClickTab($event,3)">
                                <span role="button">Funciones Asignadas</span> 
                            </a> 
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" data-toggle="tab" href="#" role="tab"
                                [class.active]="tabIndex==4"
                                (click)="onClickTab($event,4)">
                                <span role="button">Clasificaciones Actividades</span> 
                            </a> 
                        </li>
                                                
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" style="padding: 0px !important;">                        
                        <div class="tab-pane" id="clientes" role="tabpanel"
                            [class.active]="tabIndex==1">
                            <app-clientes></app-clientes>
                        </div>
                        <div class="tab-pane" id="proyectos" role="tabpanel"
                            [class.active]="tabIndex==2">
                            <app-proyectos></app-proyectos>
                        </div>
                        <div class="tab-pane" id="funciones" role="tabpanel"
                            [class.active]="tabIndex==3">
                            <app-funciones></app-funciones>
                        </div>
                        <div class="tab-pane" id="proyectos" role="tabpanel"
                            [class.active]="tabIndex==4">
                            <app-clasificaciones-actividades></app-clasificaciones-actividades>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>