<form autocomplete="off" [formGroup]="formulario" (ngSubmit)="onClickGuardar()">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="formModalLabel1">Datos de {{tituloFormulario}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClickCerrar()"><span
                    aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="form-group row">


                <label class="col-sm-2 control-label col-form-label text-right m-t-5">Código</label>
                <div class="col-sm-5 m-t-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa  fa-list-alt"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Ingrese código"
                            formControlName="Codigo" [class.is-invalid]="codigoNoValido">
                    </div>
                    <small *ngIf="codigoNoValido" class="text-danger">
                        Debe ingresar código para continuar
                    </small>
                </div>

                <label class="col-sm-1 control-label col-form-label text-right">Tipo:</label>
                <div class="col-sm-4 control-label col-form-label">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar-o"></i>
                        </span>
                        <select class="form-control custom-select" id="perido" formControlName="TipoProyectoId">
                            <option value="0"></option>
                            <option *ngFor="let tipo of tiposProyecto" [value]="tipo.Id">{{tipo.Descripcion}}</option>
                        </select>
                    </div>
                </div>

                <label class="col-sm-2 control-label col-form-label text-right m-t-5">Descripción</label>
                <div class="col-sm-10 m-t-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa  fa-list-alt"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Ingrese descripcion"
                            formControlName="Descripcion">
                    </div>
                </div>

                <label class="col-sm-2 control-label col-form-label text-right m-t-5">Cliente:</label>
                <div class="col-sm-10 control-label col-form-label m-t-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input id="clienteTypeahead" type="text" class="form-control" formControlName="Cliente"
                            placeholder="Seleccione un cliente" 
                            [class.is-invalid]="clienteNoValido"
                            [ngbTypeahead]="searchCliente" 
                            [inputFormatter]="formatterCliente"
                            [resultFormatter]="formatterCliente"
                            editable="false"
                            (focus)="focusCliente$.next($any($event).target.value)"
                            (click)="clickCliente$.next($any($event).target.value)" 
                            #instanceCliente="ngbTypeahead" />
                        <span class="input-group-addon" role="button" (click)="onClickLimpiarTypeahead('Cliente')">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                    <small *ngIf="clienteNoValido" class="text-danger">
                        Debe seleccionar un cliente
                    </small>
                </div>

                <label class="col-sm-2 control-label col-form-label text-right">Project Leader:</label>
                <div class="col-sm-10 control-label col-form-label">
                    <div class="input-group">
                        <span class="input-group-addon ">
                            <i class="fa fa-user-o"></i>
                        </span>
                        <input id="typeahead-focus" type="text" class="form-control" formControlName="LiderProyecto"
                            placeholder="Seleccione un usuario"
                            [class.is-invalid]="liderProyectoNoValido" 
                            [ngbTypeahead]="searchUsuarioPL"
                            [inputFormatter]="formatterUsuario"
                            [resultFormatter]="formatterUsuario"
                            editable="false"
                            (focus)="focusUsuarioPL$.next($any($event).target.value)"
                            (click)="clickUsuarioPL$.next($any($event).target.value)" #instanceUsuarioPL="ngbTypeahead" />
                        <span class="input-group-addon" role="button" (click)="onClickLimpiarTypeahead('LiderProyecto')">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                    <small *ngIf="liderProyectoNoValido" class="text-danger">
                        Debe seleccionar un project leader
                    </small>
                </div>

                <label class="col-sm-2 control-label col-form-label text-right">P.L. Backup:</label>
                <div class="col-sm-10 control-label col-form-label">
                    <div class="input-group">
                        <span class="input-group-addon ">
                            <i class="fa fa-user-o"></i>
                        </span>
                        <input id="typeahead-focus" type="text" class="form-control" formControlName="LiderProyectoBackup"
                            placeholder="Seleccione un usuario" 
                            [ngbTypeahead]="searchUsuarioPLB"
                            [inputFormatter]="formatterUsuario"
                            [resultFormatter]="formatterUsuario"
                            editable="false"
                            (focus)="focusUsuarioPLB$.next($any($event).target.value)"
                            (click)="clickUsuarioPLB$.next($any($event).target.value)" #instanceUsuarioPLB="ngbTypeahead" />
                        <span class="input-group-addon" role="button" (click)="onClickLimpiarTypeahead('LiderProyectoBackup')">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                </div>

                <label class="col-sm-2 control-label col-form-label text-right">Día de cierre</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa  fa-list-alt"></i>
                        </span>
                        <input type="number" class="form-control" placeholder="Ingrese día de cierre"
                            formControlName="DiaCierre"  [class.is-invalid]="diaCierreNoValido">
                    </div>                    
                    <small *ngIf="diaCierreNoValido" class="text-danger">
                        Debe ingresar día de cierre
                    </small>
                </div>
                <label class="col-sm-2 control-label col-form-label">de cada mes</label>

            </div>
        </div>


        <div class="modal-footer">
            <button type="submit" class="btn btn-success" *ngIf="!procesando">
                <i class="fa fa-save m-2"></i>
                Grabar
            </button>
            <button type="button" class="btn btn-default" disabled *ngIf="procesando">
                <i class="fa fa-spinner fa-sync m-2"></i>
                Procesando...
            </button>
            <button type="button" class="btn btn-default" (click)="onClickCerrar()">
                <i class="fa fa-times m-2"></i>
                Cancelar
            </button>
        </div>
    </div>
</form>