<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="d-flex align-items-center justify-content-between ">
            <a class="logo m-l-10" href="https://www.iprat.net">
               <img src="/assets/images/logo-blanco.png" alt="" height="50px"/>
            </a>
        </div>
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark " href="javascript:void(0)"
                        (click)="onClickAbrirOffcanvas(offcanvasMenu)">
                        <i class="ti-menu"></i>
                    </a>
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">

                <!-- ============================================================== -->
                <!-- Notificaciones -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                        <span class="h3" ><i class="fa fa-bell"></i></span>
                        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                        <ul>
                            <li>
                                <div class="drop-title">Horas pendientes de carga</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a  (click)="onClickCargarHoras($event, -1, 4)">
                                        <div class="btn btn-outline-info">
                                            <span class="h5"><i class="mdi mdi-calendar-clock"></i></span>
                                        </div>
                                        <div class="mail-contnet m-l-10">
                                            <span class="mail-desc">
                                                <strong>CLIENTE 4 - PROYECTO #004</strong><br/>
                                                TRADUCCIÓN PROTOCOLO
                                            </span>
                                            <span class="time">Fecha: 28/06/2024</span>
                                        </div>
                                    </a>
                                    <a (click)="onClickCargarHoras($event, -1,6)">
                                        <div class="btn btn-outline-info">
                                            <span class="h5"><i class="mdi mdi-calendar-clock"></i></span>
                                        </div>
                                        <div class="mail-contnet m-l-10">
                                            <span class="mail-desc">
                                                <strong>CLIENTE 2 - PROYECTO #006</strong><br/>
                                                HACER REGISTRO
                                            </span>
                                            <span class="time">Fecha: 28/06/2024</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="btn btn-outline-info">
                                            <span class="h4"><i class="mdi mdi-share"></i></span>
                                        </div>
                                        <div class="mail-contnet m-l-10">
                                            <span class="mail-desc">
                                                <strong>...</strong><br/>
                                                ...
                                            </span>
                                            <span class="time">...</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>


                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <!-- <img [src]="usuario.imagenUrl" alt="user" class="profile-pic" /> -->
                        <span class="h1">
                            <i class="fa fa-user-circle-o"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
                        <ul class="dropdown-user" *ngIf="usuario && usuario.LoginUsuario">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img">
                                        <i class="fa fa-user-circle-o"></i>
                                    </div>
                                    <div class="u-text">
                                        <h4>{{ usuario.LoginUsuario }}</h4>
                                        <span class="text-muted font-medium font-10" *ngIf="usuario">
                                            {{ usuario.Nombre }} {{ usuario.Apellido }}
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a (click)="cambioclave()" class="cursor">
                                    <i class="fa fa-key"></i>
                                    Cambiar Contraseña
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a (click)="logout()" class="cursor">
                                    <i class="fa fa-power-off"></i>
                                    Cerrar Sesión
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->


<ng-template #offcanvasMenu let-offcanvas>
    <div class="offcanvas-header" style="background-color: #2a7eec !important;">
		<h4 class="offcanvas-title m-t-20 m-b-20"></h4>
		<button type="button" class="btn-close m-t-20 m-b-20" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<app-sidebar-menu [esMobile]="true"></app-sidebar-menu>        
		<div class="text-end m-t-10">
			<button type="button" class="btn btn-outline-secondary btn-block" (click)="offcanvas.close('Close click')">
                <i class="fa fa-times m-2"></i>
                Cerrar menú
            </button>
		</div>
	</div>
    
</ng-template>
