<!-- Sidebar navigation-->
<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="user-profile">
            <a class="waves-effect waves-dark" 
                style="text-decoration: none;" 
                href="#" aria-expanded="false">
                <!-- <img [src]="usuario.imagenUrl" alt="user" /> -->
                <i class="fa fa-user-circle-o"></i>
                <span class="hide-menu">{{ usuario.LoginUsuario }}  </span>
            </a>
        </li>
        
        <li class="nav-devider"></li>


        <ng-container *ngIf="userAdmin">
            <li *ngFor="let item of menuItems">

                <a class="has-arrow waves-effect waves-dark"  
                    style="text-decoration: none;"
                    (click)="onClickItemMenu(item.url)" 
                    aria-expanded="false">
                    <i [class]="item.icono"></i>
                    <span class="hide-menu">
                        {{ item.titulo }}
                    </span>
                </a>
                
            </li>

            <li>
                <a class="has-arrow waves-effect waves-dark"  
                    style="text-decoration: none;"
                    (click)="collapseConfiguracion.toggle()"
		            [attr.aria-expanded]="!isCollapsedConfiguracion">
                    <i class="mdi mdi-settings"></i>
                    <span class="hide-menu">
                        Configuración
                    </span>
                </a>
                <div #collapseConfiguracion="ngbCollapse" [(ngbCollapse)]="isCollapsedConfiguracion">
                    <ul>
                        <li>
                            <a class="has-arrow waves-effect waves-dark"
                                (click)="onClickItemMenu('clientes')">                                
                                <i class="mdi mdi-check-circle"></i>
                                <span class="m-l-5">Clientes</span> 
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark"                             
                                (click)="onClickItemMenu('proyectos')">
                                <i class="mdi mdi-check-circle"></i>
                                <span class="m-l-5">Proyectos</span> 
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark"                             
                                (click)="onClickItemMenu('funciones')">
                                <i class="mdi mdi-check-circle"></i>
                                <span class="m-l-5">Funciones Asignadas</span> 
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark"                             
                                (click)="onClickItemMenu('clasifactividades')">
                                <i class="mdi mdi-check-circle"></i>
                                <span class="m-l-5">Clasificación de actividades</span> 
                            </a>
                        </li>

                    </ul>
                </div>
                
                
            </li>

        </ng-container>
        
        <ng-container *ngIf="!userAdmin">
            <li>
                <a class="has-arrow waves-effect waves-dark"  
                    style="text-decoration: none;"
                    aria-expanded="false"
                    (click)="onClickItemMenu('ctacte')">
                    <i class="mdi mdi-file-document"></i>
                    <span class="hide-menu">
                        Mi Cuenta Corriente
                    </span>
                </a>                        
            </li>
            <li>
                <a class="has-arrow waves-effect waves-dark"  
                    style="text-decoration: none;"
                    aria-expanded="false"
                    (click)="onClickItemMenu('solicitudes')">
                    <i class="mdi mdi-clipboard-text"></i>
                    <span class="hide-menu">
                        Mis Solicitudes
                    </span>
                </a>                        
            </li>                    

        </ng-container>

        <li class="nav-devider"></li>
        <li>
            <a class="has-arrow waves-effect waves-dark"  
                style="text-decoration: none;"
                aria-expanded="false"
                (click)="logout()" >
                <i class="fa fa-power-off"></i>                            
                <span class="hide-menu">
                    Cerrar Sesión
                </span>
            </a>
        </li> 

    </ul>
</nav>
<!-- End Sidebar navigation -->
