<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-4x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="error">
    <div class="col-12">
        <div class="alert alert-danger text-center">
            <h4 class="alert-heading">Ocurrió un error</h4>
            <i class="fa fa-exclamation-triangle fa-4x"></i>
            <p class="mb-0">Ocurrió un error reintente en unos minutos, si el error persiste contactarse con soporte.
            </p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title h4 desktop">{{tituloFormulario}}</div>
                <div class="card-title h5 mobile">{{tituloFormulario}}</div>
                <hr />

                <div class="row mb-2">
                    <div class="col col-md-12">                       
                
                        <div class="row">
                            <div class="col-md-6 col-12" style="padding: 0px !important;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-row m-b-5">
                                            <div class="flex-grow-1">
                                                <span class="h5 card-title">Proyectos vigentes</span>
                                            </div>                                         
                                        </div>
                                        <form>
                                            <div class="input-group">
                                                <input type="text" class="form-control w-30"
                                                    placeholder="Ingreso texto a buscar y presione enter......" [formControl]="filtro">
                                                <span class="input-group-addon" role="button" data-toggle="tooltip" data-placement="top"
                                                    title="Buscar" (click)="refreshDatos()">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                                <span class="input-group-addon" role="button" data-toggle="tooltip" data-placement="top"
                                                    title="Borrar" (click)="filtro.reset('')">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </div>
                                        </form>
                                        <div class="list-group">
                                            <a href="#" *ngFor="let proyecto of listado$ | async;"
                                                class="list-group-item list-group-item-action"
                                                [class.active]="proyectoSeleccionado && proyecto.Id==proyectoSeleccionado.Id"
                                                (click)="onClickSeleccionarProyecto($event, proyecto)">
                
                                                <div class="d-flex flex-row">
                                                    <div class="flex-grow-1">
                                                        <ngb-highlight [result]="proyecto.Cliente.Nombre"
                                                            [term]="filtro.value"></ngb-highlight>&nbsp;-&nbsp;
                                                        <ngb-highlight [result]="proyecto.Descripcion"
                                                            [term]="filtro.value"></ngb-highlight>
                                                    </div>
                                                    <div>
                                                        <span class="h5 text-muted"><i class="mdi mdi-arrow-right-bold"></i></span>
                                                    </div>
                                                </div>
                
                
                                            </a>
                
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                            <div class="col-md-6 col-12" style="padding: 0px !important;">
                
                                <div class="card">
                                    <div class="card-body"  *ngIf="proyectoSeleccionado">
                                        <div class="d-flex flex-row m-b-5">
                                            <div class="flex-grow-1">
                                                <span class="h6 card-title">
                                                    {{proyectoSeleccionado.Cliente.Nombre}} - 
                                                    {{proyectoSeleccionado.Descripcion}} - 
                                                    {{proyectoSeleccionado.TipoProyecto.Descripcion}}
                                                </span>
                                            </div>
                                            <div class="m-l-10">
                                                <button type="button" class="btn btn-rounded btn-outline-success waves-effect waves-light   "
                                                    (click)="onClickGuardar($event)">
                                                    <i class="fa fa-save "></i>
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>

                                        <ul class="list-group">
                                            <li class="list-group-item border border-bottom">
                
                                                <div class="d-flex flex-row">
                                                    <div class="flex-grow-1" style="width: 70% !important;">
                                                        <h6>Función Asociada</h6>
                                                    </div>
                                                    <div class="p-l-10" style="width: 30% !important;">
                                                        <h6>Horas</h6>
                                                    </div>
                                                </div>
                
                                            </li>

                                            <li class="list-group-item border border-bottom"
                                                *ngFor="let rolFuncion of proyectoSeleccionado.RolesAsignados; index as i; trackBy: trackByFn">
                
                                                <div class="d-flex flex-row">
                                                    <div class="flex-grow-1" style="width: 70% !important;">
                                                        {{rolFuncion.Rol.Descripcion}}
                                                    </div>
                                                    <div class="p-l-10" style="width: 30% !important;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-clock-o"></i>
                                                            </span>
                                                            <input type="number" class="form-control"
                                                                [(ngModel)]="proyectoSeleccionado.RolesAsignados[i].HorasAsignadas"
                                                                (focus)="onFocusHoras($event)">
                                                        </div>
                                                    </div>
                                                </div>
                
                                            </li>
                                        </ul>
                
                                    </div>
                                </div>
                
                
                
                            </div>
                        </div>
                
                        <div class="row mb-2" *ngIf="hayDatos">
                            <div class="col-12 col-md-10">
                
                            </div>
                            <div class="col-12 col-md-2">
                                <button type="button" class="btn btn-rounded btn-outline-success waves-effect waves-light "
                                    (click)="onClickGuardar($event)">
                                    <i class="fa fa-save "></i>
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




