<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-4x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>


<div class="row mb-2">
    <div class="col col-md-12">
        <div class="form-group row" style="margin-bottom: 5px !important;">
            <label class="col-md-1 control-label col-form-label text-right ">Usuario:</label>
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon ">
                        <i class="fa fa-user-o"></i>
                    </span>
                    <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="usuarioSeleccionado"
                        #instanceUsuario="ngbTypeahead" 
                        placeholder="Seleccione un usuario" 
                        [ngbTypeahead]="searchUsuario" 
                        [inputFormatter]="formatterUsuario"
                        [resultFormatter]="formatterUsuario"
                        editable="false"
                        [disabled]="usuarioDeshabilitado"
                        (focus)="focusUsuario$.next($any($event).target.value)"
                        (click)="clickUsuario$.next($any($event).target.value)"/>
                    <span class="input-group-addon" role="button" data-toggle="tooltip" data-placement="top"
                        title="Limpiar profesional" 
                        (click)="onClickLimpiarUsuario($event)">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
            </div>
            <!-- <label class="col-md-2 control-label col-form-label text-right ">Función Asociada:</label> -->
            <!-- <label class="col-md-2 control-label col-form-label text-left ">
                <span class="h6" *ngIf="usuarioSeleccionado && usuarioSeleccionado.Funcion">{{usuarioSeleccionado.Funcion.Descripcion}}</span> 
            </label> -->

            <div class="col-md-4 p-t-10">
                
            </div>
            
        </div>       

        <div class="form-group row"  style="margin-bottom: 5px !important;">
            <label class="col-md-1 control-label col-form-label text-right ">Cliente:</label>
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon ">
                        <i class="fa fa-user"></i>
                    </span>
                    <input id="clienteTypeahead" type="text" class="form-control" 
                        [(ngModel)]="clienteSeleccionado"
                        (ngModelChange)="onChangeCliente($event)"
                        #instanceCliente="ngbTypeahead"
                        placeholder="Seleccione un cliente" 
                        [inputFormatter]="formatterCliente"
                        [resultFormatter]="formatterCliente"
                        editable="false" 
                        [ngbTypeahead]="searchCliente" 
                        (focus)="focusCliente$.next($any($event).target.value)"
                        (click)="clickCliente$.next($any($event).target.value)" />
                    <span class="input-group-addon" role="button" (click)="onClickLimpiarCliente($event)">
                        <i class="fa fa-times"></i>
                    </span>
                    <span class="input-group-addon" (click)="onRefreshProyectos()">
                        <i class="fa fa-refresh"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-4 p-t-10">
                <!-- <div class="form-group form-check">
                    <input type="checkbox" id="listarMisProyectos" 
                            class="form-check-input"                             
                            [(ngModel)]="listarMisProyectos" 
                            (ngModelChange)="onChangeListaClientesMisProyectos()"
                            [disabled]="usuarioDeshabilitado"/>
                    <label for="listarMisProyectos" class="form-check-label">Listar solo Mis Proyectos</label>
                </div> -->
            </div>           
        </div>
        
        <div class="form-group row"  style="margin-bottom: 5px !important;">
            <label class="col-md-1 control-label col-form-label text-right ">Período:</label>
            <div class="col-md-3">
                <div class="btn-group m-b-5" role="group" aria-label="Periodos">
                    <button type="button" class="btn" (click)="onClickPeriodo(1)" [class.btn-secondary]="periodoFechas==1"
                        [class.btn-outline-secondary]="periodoFechas!=1">
                        Personalizado
                    </button>
                    <button type="button" class="btn" (click)="onClickPeriodo(2)" [class.btn-secondary]="periodoFechas==2"
                        [class.btn-outline-secondary]="periodoFechas!=2">
                        Período Actual
                    </button>
                </div>    
            </div>
            
            <ng-container *ngIf="periodoFechas==1">
                <label class="col-md-1 control-label col-form-label text-right ">Desde:</label>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control form-control-sm" 
                            placeholder="dd/mm/yyyy"                                                        
                            name="dteFechaDesde" ngbDatepicker #dteFechaDesde="ngbDatepicker"
                            [(ngModel)]="fechaDesde"/>
                        <span class="input-group-addon" (click)="dteFechaDesde.toggle()">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <span class="input-group-addon" (click)="onRefreshProyectos()">
                            <i class="fa fa-refresh"></i>
                        </span>
                    </div>
                </div>
                <label class="col-md-1 control-label col-form-label text-right ">Hasta:</label>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control form-control-sm" 
                            placeholder="dd/mm/yyyy"                                                        
                            name="dteFechaHasta" ngbDatepicker #dteFechaHasta="ngbDatepicker"
                            [(ngModel)]="fechaHasta"/>
                        <span class="input-group-addon" (click)="dteFechaHasta.toggle()">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <span class="input-group-addon" (click)="onRefreshProyectos()">
                            <i class="fa fa-refresh"></i>
                        </span>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="row">
            <div class="col-12" style="padding-top: 0px !important;">

                <ng-container *ngFor="let itemProyecto of proyectosCliente">

                    <div class="card shadow ">
                        <div class="card-header">
                            <div class="d-flex flex-row">
                                <div class="form-horizontal" style="width: 80%;">
                                    <div class="card-title">
                                        <span class="text-muted">Proyecto: </span>
                                        <span class="h5">{{itemProyecto.Codigo}} - Día de cierre: {{itemProyecto.DiaCierre}} de cada mes.</span>                                        
                                    </div>
                                    <span style="font-size: small;">{{itemProyecto.Descripcion}}</span>
                                </div>
                                <div class="form-horizontal" style="width: 20%;">
                                    <h5>Total: {{itemProyecto.TotalRegistradas | number :'1.1-2'}}</h5>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="form-horizontal" style="width: 15%;">
                                    <span class="text-muted">Función Asociada: </span>
                                </div>
                                <div class="form-horizontal text-left" style="width: 35%;">
                                    <div class="input-group">
                                        <select class="custom-select" style="width: 100%;"
                                            id="idFuncion"
                                            [(ngModel)]="itemProyecto.FuncionIdSeleccionada"
                                            (change)="onChangeFuncion($event)">                                        
                                            <option *ngFor="let item of itemProyecto.FuncionesAsignadas "
                                                [value]="item.Funcion.Id">
                                                {{item.Funcion.Descripcion}}
                                            </option>
                                        </select>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0px !important;" >                            

                            <ul class="list-group" >

                                <li class="list-group-item shadow-sm m-b-10" *ngIf="itemProyecto.FuncionesAsignadas.length == 0">
                                    <div class="alert alert-warning text-center">
                                        <i class="fa fa-exclamation-triangle fa-2x"></i>
                                        <span class="m-l-10">Proyecto sin horas asignadas</span>
                                        <p class="m-b-0">Debe asignarlas desde Asignación de Horas Mensuales</p>
                                    </div>
                                </li>

                                <ng-container *ngFor="let rolFuncion of itemProyecto.FuncionesAsignadas">
                                   
                                    <li class="list-group-item shadow-sm m-b-10" *ngIf="(rolFuncion.Funcion.Id == itemProyecto.FuncionIdSeleccionada)">

                                        <div class="d-flex flex-row">
                                            <div class="form-horizontal text-center" style="width: 35%;">
                                                <span class="control-label col-form-label col-form-label-sm">
                                                    Clasificación Actividad
                                                </span>
                                            </div>
                                            <div class="form-horizontal text-center" style="width: 40%;">
                                                <span class="control-label col-form-label col-form-label-sm">
                                                    Detalle y Producto
                                                </span>
                                            </div>
                                            <div class="form-horizontal text-center" style="width: 15%;">
                                                <span class="control-label col-form-label col-form-label-sm">
                                                    Fecha
                                                </span>
                                            </div>
                                            <div class="form-horizontal text-center" style="width: 8%;">
                                                <span class="control-label col-form-label col-form-label-sm">
                                                    Hora
                                                </span>
                                            </div>
                                            <div class="form-horizontal text-center" style="width: 8%;">
                                                
                                            </div>
                                        </div>

                                        <ng-container *ngFor="let registro of rolFuncion.RegistroHoras; index as i; trackBy: trackByFn">
                                            
                                            <div class="d-flex flex-row shadow-sm" style="padding-top: 3px;">
                                                <div class="form-horizontal" style="width: 35%;">
                                                    <select class="form-control form-control-sm custom-select" id="clasificacionActividad"
                                                        [(ngModel)]="registro.ClasificacionActividadId"
                                                        [class.is-invalid]="clasificacionActividadNoValido(registro.ClasificacionActividadId)">
                                                        <option value="0"></option>                                                            
                                                        <option *ngFor="let ca of clasificacionesActividades" [value]="ca.Id">
                                                            {{ca.Descripcion}}
                                                        </option>
                                                    </select>                                                    
                                                </div>
                                                <div class="form-horizontal text-center" style="width: 40%;">
                                                    <textarea class="form-control form-control-sm" ID="detalleProducto" rows="2" 
                                                        data-toggle="tooltip" data-placement="top"
                                                        [title]="registro.Detalle"
                                                        [(ngModel)]="registro.Detalle"
                                                        [class.is-invalid]="detalleNoValido(registro.Detalle)"
                                                        (focus)="onFocus($event)"></textarea>
                                                    <small *ngIf="regsitroNoValido(registro) && camposNoValidos" class="text-danger">
                                                        * Debe completar todos los campos
                                                    </small>
                                                </div>
                                                <div class="form-horizontal text-center" style="width: 15%;">
                                                    <div class="input-group">
                                                        <input id="fechaNgDateStruct" class="form-control form-control-sm" 
                                                            placeholder="dd/mm/yyyy"                                                        
                                                            name="dteFecha" ngbDatepicker #dteFecha="ngbDatepicker"
                                                            [(ngModel)]="registro.FechaString"
                                                            [class.is-invalid]="fecahNoValido(registro.FechaString)"/>
                                                        <span class="input-group-addon" (click)="dteFecha.toggle()">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-horizontal text-center" style="width: 8%;">
                                                    <input type="number" id="inputHoras_{{rolFuncion.Id}}" class="form-control form-control-sm text-right"
                                                            (keypress)="preventNegative($event)" min="0"
                                                            [(ngModel)]="registro.Horas"
                                                            (ngModelChange)="onChangeHoras($event, rolFuncion)"
                                                            [class.is-invalid]="horasNoValido(registro.Horas)"
                                                            (focus)="onFocus($event)">
                                                </div>
                                                <div class="form-horizontal text-left " style="width: 8%;">
                                                                                                        
                                                    <a href="#" class="btn btn-outline-success btn-rounded btn-xs" 
                                                        data-toggle="tooltip"
                                                        data-placement="top" title="Guardar registro"
                                                        (click)="onClickGuardarItem($event, rolFuncion, registro, i)">
                                                        <span class="h5 text-success"><i class="fa fa-save"></i></span>
                                                    </a>

                                                    <a href="#" class="btn btn-outline-danger btn-rounded btn-xs" *ngIf="!ultimoRegistroHora(rolFuncion, i)"
                                                        data-toggle="tooltip"
                                                        data-placement="top" title="Eliminar registro"
                                                        (click)="onClickEliminarItem($event, rolFuncion, i)">
                                                        <span class="h5 text-danger"><i class="fa fa-trash"></i></span>
                                                    </a>

                                                </div>
                                            </div>
                                        </ng-container>

                                        <div class="d-flex flex-row shadow-sm p-t-10" 
                                            [class.alert]="rolFuncion.TotalRegistradas>rolFuncion.Horas"
                                            [class.alert-danger]="rolFuncion.TotalRegistradas>rolFuncion.Horas">
                                            
                                            <div class="form-horizontal text-center " style="width: 5%;">
                                                <i class="fa fa-exclamation-triangle" *ngIf="rolFuncion.TotalRegistradas>rolFuncion.Horas"></i>    
                                            </div>
                                            <div class="form-horizontal text-right" style="width: 40%;">
                                                <span class="control-label col-form-label h6">
                                                    Total {{rolFuncion.Funcion.Descripcion}}
                                                </span>
                                            </div>
                                            <div class="form-horizontal text-right" style="width: 20%;">
                                                <span class="control-label col-form-label h6">
                                                    Horas Asignadas: 
                                                </span>
                                                <span class="text-left control-label col-form-label h6">
                                                    {{rolFuncion.Horas | number :'1.1-2'}}
                                                </span>
                                            </div>
                                            <div class="form-horizontal text-right" style="width: 25%;">
                                                <span class="text-right control-label col-form-label h5">
                                                    Horas Registradas: 
                                                </span>
                                                <span class="text-left control-label col-form-label h5">
                                                    {{rolFuncion.TotalRegistradas | number :'1.1-2'}}
                                                </span>
                                            </div>
                                            <div class="form-horizontal text-left " style="width: 10%;">
                                                         
                                            </div>
                                        </div>

                                    </li>
                                </ng-container>

                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex flex-row shadow-sm p-t-10" 
                            [class.alert]="itemProyecto.TotalRegistradas>itemProyecto.TotalAsignadas "
                            [class.alert-danger]="itemProyecto.TotalRegistradas>itemProyecto.TotalAsignadas ">
                                <div class="form-horizontal text-center " style="width: 5%;">
                                    <i class="fa fa-exclamation-triangle" *ngIf="itemProyecto.TotalRegistradas>itemProyecto.TotalAsignadas"></i>    
                                </div>
                                <div class="form-horizontal text-right" style="width: 40%;">
                                    <span class="control-label col-form-label h5">
                                        Total {{itemProyecto.Codigo}}
                                    </span>
                                </div>
                                <div class="form-horizontal text-right" style="width: 20%;">
                                    <span class="control-label col-form-label h5">
                                        Horas Asignadas: 
                                    </span>
                                    <span class="text-right control-label col-form-label h5">
                                        {{itemProyecto.TotalAsignadas | number :'1.1-2'}}
                                    </span>
                                </div>
                                <div class="form-horizontal text-right" style="width: 25%;">
                                    <span class="text-right control-label col-form-label h5">
                                        Horas Registradas: 
                                    </span>
                                    <span class="text-right control-label col-form-label h5">
                                        {{itemProyecto.TotalRegistradas | number :'1.1-2'}}
                                    </span>
                                </div>
                                <div class="form-horizontal text-left " style="width: 10%;">
                                             
                                </div>
                            </div>               
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="row mb-2" *ngIf="hayDatos">
            <div class="col-12 col-md-9">

            </div>
            <div class="col-12 col-md-3">
                <div class="input-group">
                    <button type="button" class="btn btn-rounded btn-block btn-outline-success waves-effect waves-light"
                        (click)="onClickGuardar($event)">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>