<div class="row mb-2">
    <div class="col col-md-12">
        <div class="form-group row" style="margin-bottom: 5px !important;">
            <label class="col-md-2 control-label col-form-label text-center">Usuario:</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon ">
                        <i class="fa fa-user-o"></i>
                    </span>
                    <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="profesional"
                        [ngbTypeahead]="searchProfesional" (focus)="focus$.next($any($event).target.value)"
                        (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead" (ngModelChange)="onChangeProfesional()"/>
                    <span class="input-group-addon" role="button" data-toggle="tooltip" data-placement="top"
                        title="Limpiar profesional" (click)="onClickLimpiarProfesional($event)">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-4 p-t-5">
                <div class="input-group">
                    <button type="button" class="btn btn-rounded btn-block btn-outline-success waves-effect waves-light"
                        (click)="onClickGuardar($event)">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group row">

            <label class="col-md-2 control-label col-form-label text-center">Cliente:</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon ">
                        <i class="fa fa-user"></i>
                    </span>
                    <input id="clienteTypeahead" type="text" class="form-control" [(ngModel)]="cliente"
                        placeholder="Seleccione un cliente" #instanceCliente="ngbTypeahead" 
                        [ngbTypeahead]="searchCliente" (focus)="focusCliente$.next($any($event).target.value)"
                        (click)="clickCliente$.next($any($event).target.value)" (ngModelChange)="onChangeCliente($event)"/>
                    <span class="input-group-addon" role="button" (click)="onClickLimpiarCliente($event)">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-4 p-t-10">
                <div class="form-group form-check">
                    <input type="checkbox" id="listarTodasFunciones" [(ngModel)]="listarTodasFunciones"
                                class="form-check-input" />
                    <label for="listarTodasFunciones" class="form-check-label">Todas las Funciones Asociadas</label>
                </div>
            </div>

            <!-- <label class="col-md-1 control-label col-form-label text-center">Proyecto</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon ">
                        <i class="fa fa-list-alt"></i>
                    </span>
                    <input id="proyectoTypeahead" type="text" class="form-control" [(ngModel)]="proyecto"
                            placeholder="Seleccione un proyecto"  #instanceProyecto="ngbTypeahead"
                            [ngbTypeahead]="searchProyecto" (focus)="focusProyecto$.next($any($event).target.value)"
                            (click)="clickProyecto$.next($any($event).target.value)"  (ngModelChange)="onChangeProyecto($event)" />
                        <span class="input-group-addon" role="button" (click)="onClickLimpiaProyecto($event)">
                            <i class="fa fa-times"></i>
                        </span>
                </div>
            </div> -->

        </div>
        

        <div class="row">
            <div class="col-12" style="padding-top: 0px !important;">

                <ng-container *ngFor="let itemProyecto of proyectosCliente">

                    <div class="card border">
                        <div class="card-header">
                            <h6 class="card-title">
                                {{itemProyecto.Cliente.Nombre}} - 
                                {{itemProyecto.Descripcion}} - 
                                {{itemProyecto.Tipo.Descripcion}}
                            </h6>
                            
                        </div>
                        <div class="card-body" >                            

                            <ul class="list-group" >
                                <li class="list-group-item border border-bottom">
                    
                                    <div class="d-flex flex-row">
                                        <div style="width: 30%;">
                                            <h6>Función Asociada</h6>
                                        </div>
                                        <div style="width: 45%;">
                                            <h6>Detalle y Producto</h6>
                                        </div>
                                        <div class="p-l-10" style="width: 15%;">
                                            <h6>Fecha</h6>
                                        </div>
                                        <div class="p-l-10" style="width: 10%;">
                                            <h6>Horas</h6>
                                        </div>
                                    </div>

                                </li>

                                <ng-container *ngFor="let rolFuncion of itemProyecto.RolesAsignados; index as i; trackBy: trackByFn">

                                    <li class="list-group-item border border-bottom" *ngIf="rolFuncion.Rol.Id == profesionalSeleccionado.Funcion.Id || listarTodasFunciones">

                                        <div class="d-flex flex-row">
                                            <div style="width: 30%;">
                                                {{rolFuncion.Rol.Descripcion}}
                                            </div>
                                            <div class="p-l-10 p-r-10" style="width: 45%;">
                                                <textarea class="form-control" rows="2" (focus)="onFocus($event)"></textarea>
                                            </div>                                    
                                            <div style="width: 15%;">
                                                <div class="input-group">
                                                    <span class="input-group-addon" (click)="dteFecha.toggle()">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input id="fechaNgDateStruct" class="form-control" placeholder="dd/mm/yyyy"
                                                        name="dteFecha" ngbDatepicker #dteFecha="ngbDatepicker"
                                                        [(ngModel)]="itemProyecto.RolesAsignados[i].RegistroFecha" />
                                                </div>
                                            </div>
                                            <div class="p-l-10 p-r-10"  style="width: 10%;">
                                                <div class="input-group">                                            
                                                    <input type="number" id="inputHoras_{{rolFuncion.Id}}" class="form-control"
                                                        [(ngModel)]="itemProyecto.RolesAsignados[i].RegistroHoras"
                                                        (focus)="onFocus($event)"
                                                        (keypress)="onKeyPressInputHoras($event, rolFuncion.Id)">
                                                </div>
                                            </div>
                                        </div>                                
                                    </li>

                                </ng-container>
                            </ul>

                        </div>
                    </div>

                </ng-container>



            </div>
        </div>

        <div class="row mb-2" *ngIf="hayDatos">
            <div class="col-12 col-md-9">

            </div>
            <div class="col-12 col-md-3">
                <div class="input-group">
                    <button type="button" class="btn btn-rounded btn-block btn-outline-success waves-effect waves-light"
                        (click)="onClickGuardar($event)">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>