<div class="row mb-2">
    <div class="col col-md-12">
        <div class="form-group row" style="margin-bottom: 5px !important;">
            <label class="col-md-2 control-label col-form-label text-center">Usuario:</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon ">
                        <i class="fa fa-user-o"></i>
                    </span>
                    <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="profesional"
                        [ngbTypeahead]="searchProfesional" (focus)="focus$.next($any($event).target.value)"
                        (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead" (ngModelChange)="onChangeProfesional()"/>
                    <span class="input-group-addon" role="button" data-toggle="tooltip" data-placement="top"
                        title="Limpiar profesional" (click)="onClickLimpiarProfesional($event)">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-4 p-t-5">
                <div class="input-group">
                    <button type="button" class="btn btn-rounded btn-block btn-outline-success waves-effect waves-light"
                        (click)="onClickGuardar($event)">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group row">

            <label class="col-md-2 control-label col-form-label text-center">Cliente:</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon ">
                        <i class="fa fa-user"></i>
                    </span>
                    <input id="clienteTypeahead" type="text" class="form-control" [(ngModel)]="cliente"
                        placeholder="Seleccione un cliente" #instanceCliente="ngbTypeahead" 
                        [ngbTypeahead]="searchCliente" (focus)="focusCliente$.next($any($event).target.value)"
                        (click)="clickCliente$.next($any($event).target.value)" (ngModelChange)="onChangeCliente($event)"/>
                    <span class="input-group-addon" role="button" (click)="onClickLimpiarCliente($event)">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-4 p-t-10">
                <div class="form-group form-check">
                    <input type="checkbox" id="listarTodasFunciones" [(ngModel)]="listarTodasFunciones"
                                class="form-check-input" />
                    <label for="listarTodasFunciones" class="form-check-label">Todas las Funciones Asociadas</label>
                </div>
            </div>

            <!-- <label class="col-md-1 control-label col-form-label text-center">Proyecto</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon ">
                        <i class="fa fa-list-alt"></i>
                    </span>
                    <input id="proyectoTypeahead" type="text" class="form-control" [(ngModel)]="proyecto"
                            placeholder="Seleccione un proyecto"  #instanceProyecto="ngbTypeahead"
                            [ngbTypeahead]="searchProyecto" (focus)="focusProyecto$.next($any($event).target.value)"
                            (click)="clickProyecto$.next($any($event).target.value)"  (ngModelChange)="onChangeProyecto($event)" />
                        <span class="input-group-addon" role="button" (click)="onClickLimpiaProyecto($event)">
                            <i class="fa fa-times"></i>
                        </span>
                </div>
            </div> -->

        </div>
        

        <div class="row">
            <div class="col-12" style="padding-top: 0px !important;">

                <ng-container *ngFor="let itemProyecto of proyectosCliente">

                    <div class="card border">
                        <div class="card-header">
                            <h6 class="card-title">
                                {{itemProyecto.Cliente.Nombre}} - 
                                {{itemProyecto.Descripcion}} - 
                                {{itemProyecto.Tipo.Descripcion}}
                            </h6>
                            
                        </div>
                        <div class="card-body" >                            

                            <ul class="list-group" >
                                <!-- <li class="list-group-item border border-bottom">                    
                                    <div class="d-flex flex-row">
                                        <div class="text-center"  style="width: 30%;">
                                            <h6>Función Asociada</h6>
                                        </div>                                        
                                        <div class="text-center"  style="width: 70%;">
                                            <h6>Clasificación de Actividad</h6>
                                        </div>
                                        <div class="text-center" style="width: 45%;">
                                            <h6>Detalle y Producto</h6>
                                        </div>
                                    </div>
                                </li> -->

                                <ng-container *ngFor="let rolFuncion of itemProyecto.RolesAsignados; index as i; trackBy: trackByFn">

                                    <li class="list-group-item border m-b-10" *ngIf="rolFuncion.Rol.Id == profesionalSeleccionado.Funcion.Id || listarTodasFunciones">

                                        <div class="d-flex flex-row">
                                            <div class="form-horizontal" style="width: 25%;">
                                                <div class="form-group row">
                                                    <label class="text-left control-label col-form-label h6">
                                                        {{rolFuncion.Rol.Descripcion}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-horizontal" style="width: 70%;">
                                                <div class="form-group row" style="padding: 0px !important;">
                                                    <label for="clasificacionActividad" class="col-sm-4 text-right control-label col-form-label">Clasificación Actividad:</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control custom-select" id="clasificacionActividad">
                                                            <option value="0"></option>
                                                            <option value="1">NUEVO REGISTRO</option>
                                                            <option value="2">VARIACIONES TECNICAS ALTA COMPLEJIDAD</option>
                                                            <option value="3">VARIACIONES TECNICAS BAJA COMLEJIDAD</option>
                                                            <option value="4">IP Y ROTULOS ALTA COMPLEJIDAD</option>
                                                            <option value="5">IP Y ROTULOS ALTA COMPLEJIDAD</option>
                                                            <option value="6">RENOVACIONES </option>
                                                            <option value="7">BÚSQUEDAS BIBLIOGRÁFICAS</option>
                                                            <option value="8">IPAS NUEVO</option>
                                                            <option value="9">IPAS REVISIÓN</option>
                                                            <option value="10">PGR NUEVO</option>
                                                            <option value="11">PGR REVISION</option>
                                                            <option value="12">GESTION DE CASOS</option>
                                                            <option value="13">PROYECTO ESPECIFICO</option>
                                                            <option value="14">ENTRENAMIENTO</option>
                                                            <option value="15">REUNION DE EQUIPO, PRIORIDADES</option>
                                                        </select>    
                                                    </div>                                                    
                                                    <label for="detalleProducto" class="col-sm-4 text-right control-label col-form-label m-t-5">Detalle y Producto: </label>
                                                    <div class="col-sm-8 m-t-5">
                                                        <textarea class="form-control" ID="detalleProducto" rows="2" (focus)="onFocus($event)"></textarea>    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row">

                                            <div class="text-center m-t-10 p-r-20"  style="width: 30%;">
                                                <div class="input-group">
                                                    <span (click)="dteFecha.toggle()">
                                                        Fecha:&nbsp;&nbsp;
                                                    </span>
                                                    <input id="fechaNgDateStruct" class="form-control" placeholder="dd/mm/yyyy"
                                                        name="dteFecha" ngbDatepicker #dteFecha="ngbDatepicker"
                                                        [(ngModel)]="itemProyecto.RolesAsignados[i].RegistroFecha" />
                                                    <span class="input-group-addon" (click)="dteFecha.toggle()">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                                <div class="input-group m-t-5">
                                                    <span>Semana 14/07/2024 al 20/07/2024</span>
                                                </div>
                                            </div>

                                            <div class="text-center"  style="width: 70%;">
                                                <div class="table-responsive ">
                                                    <table class="table">
                                                        <tbody>
                                                            <!-- <tr *ngFor="let item of listadoFULL;"> -->
                                                            <tr>                                                                       
                                                                <td class="bg-secondary-subtle text-center">
                                                                    <span>Dom 14</span>
                                                                    <input type="number" id="inputHoras_{{rolFuncion.Id}}" class="form-control"
                                                                        (focus)="onFocus($event)"
                                                                        (keypress)="onKeyPressInputHoras($event, rolFuncion.Id)">
                                                                </td>
                                                                <td class="text-center">
                                                                    <span>Lun 15</span>
                                                                    <input type="number" id="inputHoras_{{rolFuncion.Id}}" class="form-control"
                                                                        (focus)="onFocus($event)"
                                                                        (keypress)="onKeyPressInputHoras($event, rolFuncion.Id)">
                                                                </td>
                                                                <td class="text-center">
                                                                    <span>Mar 16</span>
                                                                    <input type="number" id="inputHoras_{{rolFuncion.Id}}" class="form-control"
                                                                        (focus)="onFocus($event)"
                                                                        (keypress)="onKeyPressInputHoras($event, rolFuncion.Id)">
                                                                </td>
                                                                <td class="text-center">
                                                                    <span>Mie 17</span>
                                                                    <input type="number" id="inputHoras_{{rolFuncion.Id}}" class="form-control"
                                                                        (focus)="onFocus($event)"
                                                                        (keypress)="onKeyPressInputHoras($event, rolFuncion.Id)">
                                                                </td>
                                                                <td class="text-center">
                                                                    <span>Jue 18</span>
                                                                    <input type="number" id="inputHoras_{{rolFuncion.Id}}" class="form-control"
                                                                        (focus)="onFocus($event)"
                                                                        (keypress)="onKeyPressInputHoras($event, rolFuncion.Id)">
                                                                </td>
                                                                <td class="text-center">
                                                                    <span>Vie 19</span>
                                                                    <input type="number" id="inputHoras_{{rolFuncion.Id}}" class="form-control"
                                                                        (focus)="onFocus($event)"
                                                                        (keypress)="onKeyPressInputHoras($event, rolFuncion.Id)">
                                                                </td>
                                                                <td class="bg-secondary-subtle text-center">
                                                                    <span>Sab 20</span>
                                                                    <input type="number" id="inputHoras_{{rolFuncion.Id}}" class="form-control"                                                                        
                                                                        (focus)="onFocus($event)"
                                                                        (keypress)="onKeyPressInputHoras($event, rolFuncion.Id)">
                                                                </td>
                                                                <td>
                                                                    <a href="#" class="btn btn-outline-success btn-rounded m-t-10" data-toggle="tooltip"
                                                                        data-placement="top" title="Guardar"
                                                                        (click)="onClickGuardar($event)">
                                                                        <span class="h5 text-success"><i class="fa fa-save"></i></span>
                                                                    </a>                                                
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table> 
                                                </div>
                                            </div>
                                                                         
                                            <!-- <div class="form-horizontal">
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        
                                                    </div>
                                                    <div class="col-sm-8">
                                                        
                                                    </div>                                                    
                                                </div>
                                            </div> -->
                                        </div>

                                    </li>

                                </ng-container>
                            </ul>

                        </div>
                    </div>

                </ng-container>



            </div>
        </div>

        <div class="row mb-2" *ngIf="hayDatos">
            <div class="col-12 col-md-9">

            </div>
            <div class="col-12 col-md-3">
                <div class="input-group">
                    <button type="button" class="btn btn-rounded btn-block btn-outline-success waves-effect waves-light"
                        (click)="onClickGuardar($event)">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>