<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-4x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="error">
    <div class="col-12">
        <div class="alert alert-danger text-center">
            <h4 class="alert-heading">Ocurrió un error</h4>
            <i class="fa fa-exclamation-triangle fa-4x"></i>
            <p class="mb-0">Ocurrió un error reintente en unos minutos, si el error persiste contactarse con soporte.
            </p>
        </div>
    </div>
</div>

<div class="animated fadeIn fast" *ngIf="!cargando">
    <div class="card">
        <div class="card-body">
            <!-- Tab navs -->
            <ul class="nav nav-tabs customtab" role="tablist">
                <li class="nav-item m-r-30"> 
                    <div class="card-title h5">{{tituloFormulario}}</div>                    
                </li>
                <li class="nav-item"> 
                    <a class="nav-link active" data-toggle="tab" href="#general" role="tab">
                        <span class="hidden-sm-up"><i class="ti-home"></i></span> 
                        <div class="card-title h5">General</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#timesheet" role="tab">
                        <span class="hidden-sm-up"><i class="ti-user"></i></span>
                        <div class="card-title h5">Timesheet</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#mensualizado" role="tab">
                        <span class="hidden-sm-up"><i class="ti-user"></i></span>
                        <div class="card-title h5">Mensualizado</div>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="general" role="tabpanel">
                    <app-reportegeneral></app-reportegeneral>
                </div>
                <div class="tab-pane" id="timesheet" role="tabpanel">
                    <app-reportetimesheet></app-reportetimesheet>
                </div>
                <div class="tab-pane" id="mensualizado" role="tabpanel">
                    <app-reportemensualizado></app-reportemensualizado>
                </div>
            </div>
        </div>
    </div>
</div>
