<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" id="leftSidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <app-sidebar-menu [esMobile]="false"></app-sidebar-menu>
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->