<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" 
    style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card pl-5">
        <div class="card-body">
            
            <form class="form-horizontal form-material" 
                    id="loginform" 
                    autocomplete="off"
                    [formGroup]="registerForm"
                    (ngSubmit)="restablecerPassword()">
                
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <a href="javascript:void(0)" class="text-center db">
                            <img src="../assets/images/logo-icon.png" alt="Home" style="height: 50px;" />
                        </a>
                    </div>
                </div>
    
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <h5 class="font-bold">Registro de horas</h5> 
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <span class="h6 font-bold" >
                            <i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;
                            {{ usuarioService.usuario.LoginUsuario }}
                        </span>
                        <span class="text-muted font-medium font-12">
                            {{ usuarioService.usuario.Nombre }} {{ usuarioService.usuario.Apellido }}
                        </span>

                    </div>
                </div>
            
                <div class="form-group ">

                    <div class="col-sm-12">
                        <div class="input-group">
                            <input [type]="showClave ? 'text' : 'password'"
                                id="clave" class="form-control" 
                                placeholder="Ingresar constraseña actual" 
                                formControlName="clave"/>
                            <button type="button" class="btn btn-outline-secondary"
                                    (click)="showClave = !showClave">
                              <i [class]="showClave ? 'fa fa-eye-slash' : 'fa fa-eye'"></i> <!-- Icono de Bootstrap Icons -->
                            </button>
                        </div>
                        <small *ngIf="campoNoValido('clave')" class="text-danger">
                            Debe ingresar la contraseña actual
                        </small>
                    </div>

                    <div class="col-sm-12  m-t-5">
                        <div class="input-group">
                            <input [type]="showPassword ? 'text' : 'password'"
                                id="password" class="form-control" 
                                placeholder="Ingresar nueva constraseña" 
                                formControlName="password"/>
                            <button type="button" class="btn btn-outline-secondary"
                                    (click)="showPassword = !showPassword">
                              <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i> <!-- Icono de Bootstrap Icons -->
                            </button>
                        </div>
                        <small *ngIf="campoNoValido('password')" class="text-danger">
                            Debe ingresar la nueva contraseña 
                        </small>
                        <small *ngIf="contrasenaNuevaNoValida()" class="text-danger">
                            La nueva contraseña no puede ser igual a la contraseña actual
                        </small>
                    </div>
                
                    <div class="col-sm-12 m-t-5">
                        <div class="input-group">
                            <input [type]="showPassword2 ? 'text' : 'password'"
                                id="password2" class="form-control" 
                                placeholder="Rpetir nueva constraseña" 
                                formControlName="password2"/>
                            <button type="button" class="btn btn-outline-secondary"
                                    (click)="showPassword2 = !showPassword2">
                              <i [class]="showPassword2 ? 'fa fa-eye-slash' : 'fa fa-eye'"></i> <!-- Icono de Bootstrap Icons -->
                            </button>
                        </div>
                        <small *ngIf="contrasenasNoValidas()" class="text-danger">
                            Las contraseñas nuevas deben de ser iguales
                        </small>
                    </div>
                    <div class="col-sm-12 m-t-5">
                        <small>                            
                            <span [class]="isMinimoCaracteres ? 'text-success' : 'text-danger'">
                                <i [class]="isMinimoCaracteres ? 'fa fa-check m-r-10' : 'fa fa-warning m-r-10'"></i> 
                                Mínimo 10 caracteres
                            </span>    
                            <br/>
                            <span [class]="hasMayuscula ? 'text-success' : 'text-danger'">
                                <i [class]="hasMayuscula ? 'fa fa-check m-r-10' : 'fa fa-warning m-r-10'"></i> 
                                Al menos una mayúscula
                            </span>
                            <br/>
                            <span [class]="hasMinuscula ? 'text-success' : 'text-danger'">
                                <i [class]="hasMinuscula ? 'fa fa-check m-r-10' : 'fa fa-warning m-r-10'"></i> 
                                Al menos una minúscula
                            </span>
                            <br/>                    
                            <span [class]="hasNumber ? 'text-success' : 'text-danger'">
                                <i [class]="hasNumber ? 'fa fa-check m-r-10' : 'fa fa-warning m-r-10'"></i> 
                                Al menos un número
                            </span>
                            <br/>                    
                            <span [class]="hasSimbolo ? 'text-success' : 'text-danger'">
                                <i [class]="hasSimbolo ? 'fa fa-check m-r-10' : 'fa fa-warning m-r-10'"></i> 
                                Al menos un símbolo
                            </span>    
                            <br/>
                            <span [class]="isValidCaracteresComunes ? 'text-success' : 'text-danger'">
                                <i [class]="isValidCaracteresComunes ? 'fa fa-check m-r-10' : 'fa fa-warning m-r-10'"></i> 
                                No debe contener espacios, <', >, " o '
                            </span>    
                        </small>
                    </div>
                </div>

                
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">                            
                        <button class="btn btn-lg btn-block text-uppercase btn-rounded"
                            style="background-color: #8c2332 !important; border-color: #8c2332 !important;"
                            type="submit">
                            <span class="text-white">Cambiar Contraseña</span>
                        </button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>¿Ya tienes un usuario? <a routerLink="/login" class="text-info m-l-5"><b>Ingresar</b></a></p>
                    </div>
                </div>
                                
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->