<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-4x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="error">
    <div class="col-12">
        <div class="alert alert-danger text-center">
            <h4 class="alert-heading">Ocurrió un error</h4>
            <i class="fa fa-exclamation-triangle fa-4x"></i>
            <p class="mb-0">Ocurrió un error reintente en unos minutos, si el error persiste contactarse con soporte.
            </p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control w-20" 
                                                placeholder="Ingreso texto a buscar y presione enter......" 
                                                [formControl]="filtro" >
                                        <span class="input-group-btn">
                                            <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip"
                                                data-placement="top" title="Buscar"
                                                (click)="refreshDatos()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip"
                                                data-placement="top" title="Borrar búsqueda"
                                                (click)="filtro.reset('')">
                                                <i class="fa fa-times"></i>
                                            </button>                                    
                                        </span>
                                    </div>
                                </form>
                            </div>                            
                            <div class="col-6 col-md-3">
                                <button type="button" class="btn btn-outline-secondary btn-block waves-effect waves-light"
                                    (click)="onClickAbrirOffcanvas(offcanvasFiltros)">
                                    <i class="fa fa-list-alt"></i>
                                    Filtros
                                </button>                        
                            </div>
                            <div class="col-6 col-md-3">
                                <button type="button" class="btn btn-outline-info btn-block waves-effect waves-light"
                                    (click)="onClickExportar()">
                                    <i class="fa fa-file-excel-o"></i>
                                    Exportar
                                </button>                        
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-3">
                        <div class="border border-info rounded">
                            <div class="d-flex flex-row b-b">
                                <div class="bg-info-subtle p-r-10 p-l-10">
                                    <h2 class="text-info box m-b-0">
                                        <i class="fa fa-clock-o"></i>
                                    </h2>
                                </div>
                                <div class="m-l-10 align-self-center">
                                    <h4 class="m-b-0">{{totalHoras | number :'1.1-2'}}</h4>
                                    <span class="text-secondary m-b-0">Horas Registradas</span>
                                </div>                                
                            </div>                          
                        </div>
                    </div>

                </div>
                

                <div class="row">
                    <div class="col-12 col-md-9">
                        <div class="d-flex gap-2 justify-content-start" >
                            <span  *ngFor="let item of labelsFiltros" 
                                class="badge d-flex align-items-center p-2 pe-2 text-light-emphasis bg-light-subtle border border-dark-subtle rounded-pill">
                                {{item}}
                            </span>
                          </div>
                    </div>                    
                </div>

                <div class="row m-t-5" style="max-height: 400px; overflow-y: auto;">

                    <div class="d-flex flex-row">
                        <div class="flex-grow-1" style="width: 50% !important;">
                                    
                            <ul class="list-group" style="font-size: small">
                                <li class="list-group-item list-group-item-action border border-bottom">                    
                                    <div class="d-flex flex-row text-center">
                                        <div class="flex-grow-1" style="width: 65% !important;">
                                            <span class="fw-bolder">Cliente - Proyecto</span>
                                        </div>
                                        <div class="text-center" style="width: 30% !important;">
                                            <span class="fw-bolder">Horas Registradas</span>
                                        </div>
                                    </div>                    
                                </li>

                                <div ngbAccordion [closeOthers]="true">
                                    <ng-container *ngFor="let item of totalXProyecto; track item ">
                                        <div ngbAccordionItem [collapsed]="true">

                                            <li class="list-group-item list-group-item-action ">
                                                <div class="d-flex flex-row">
                                                    <div class="flex-grow-1" style="width: 80% !important;">
                                                        <ngb-highlight [result]="item.Descripcion" [term]="filtro.value"></ngb-highlight><br/>
                                                        <ngb-highlight [result]="item.Descripcion2" [term]="filtro.value"></ngb-highlight>
                                                    </div>
                                                    <div class="p-r-10 text-right" style="width: 20% !important;">
                                                        {{item.Valor | number :'1.1-2'}}
                                                    </div>
                                                    <div class="text-center" style="width: 5% !important;">
                                                        <button ngbAccordionButton style="padding: 0px !important"></button>
                                                    </div>
                                                </div>
                                            </li>                                                

                                            <div ngbAccordionCollapse>
                                                <div ngbAccordionBody>
                                                    <ng-template>
                                                        <ul class="list-group" style="font-size: small;">

                                                            <div *ngFor="let subItem of item.SubItems ">

                                                                <li class="list-group-item list-group-item-action border border-bottom bg-secondary-subtle fw-semibold">
                                                                    <div class="d-flex flex-row">
                                                                        <div class="flex-grow-1" style="width: 70% !important;">
                                                                            {{subItem.Descripcion}}
                                                                        </div>                                      
                                                                        <div class="p-r-20 text-right" style="width: 30% !important;">
                                                                            <span *ngIf="subItem.Valor>0">{{subItem.Valor | number :'1.1-2'}}</span>
                                                                        </div>
                                                                    </div>
                                                                </li>

                                                                <ul class="list-group" style="font-size: small;">
                                                                    <li *ngFor="let subItemN2 of subItem.SubItemsN2"
                                                                        class="list-group-item list-group-item-action border border-bottom">
                                                                        <div class="d-flex flex-row">
                                                                            <div class="flex-grow-1" style="width: 20% !important;">
                                                                                
                                                                            </div>
                                                                            <div class="flex-grow-1" style="width: 60% !important;">
                                                                                {{subItemN2.Descripcion}}
                                                                            </div>
                                                                            <div class="p-r-20 text-right" style="width: 20% !important;">
                                                                                <span *ngIf="subItemN2.Valor>0">{{subItemN2.Valor | number :'1.1-2'}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </ul>                                                               
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </ul>

                        </div>

                        <div class="m-l-5" style="width: 50% !important;">

                            <ul class="list-group" style="font-size: small;">
                                <li class="list-group-item list-group-item-action border border-bottom">                    
                                    <div class="d-flex flex-row text-ceneter">
                                        <div class="flex-grow-1" style="width: 65% !important;">
                                            <span class="fw-bolder">Usuario</span>
                                        </div>
                                        <div class="text-center" style="width: 30% !important;">
                                            <span class="fw-bolder">Horas Registradas</span>
                                        </div>
                                        <div class="text-center" style="width: 5% !important;">
                                            <span class="fw-bolder"></span>
                                        </div>
                                    </div>
                                </li>

                                <div ngbAccordion [closeOthers]="true">
                                    <ng-container *ngFor="let item of totalXUsuario ">
                                        <div ngbAccordionItem [collapsed]="true">

                                            <li class="list-group-item list-group-item-action ">
                                                <div class="d-flex flex-row">
                                                    <div class="flex-grow-1" style="width: 80% !important;">
                                                        <ngb-highlight [result]="item.Descripcion" [term]="filtro.value"></ngb-highlight>
                                                    </div>
                                                    <div class="p-r-20 text-right" style="width: 20% !important;">
                                                        {{item.Valor | number :'1.1-2'}}
                                                    </div>
                                                    <div class="text-center" style="width: 5% !important;">
                                                        <button ngbAccordionButton style="padding: 0px !important"></button>
                                                    </div>
                                                </div>
                                            </li>                                                

                                            <div ngbAccordionCollapse>
                                                <div ngbAccordionBody>
                                                    <ng-template>
                                                        <ul class="list-group" style="font-size: small;">

                                                            <div *ngFor="let subItem of item.SubItems ">

                                                                <li class="list-group-item list-group-item-action border border-bottom bg-secondary-subtle fw-semibold">
                                                                    <div class="d-flex flex-row">
                                                                        <div class="flex-grow-1" style="width: 70% !important;">
                                                                            {{subItem.Descripcion}}
                                                                        </div>                                      
                                                                        <div class="p-r-20 text-right" style="width: 30% !important;">
                                                                            <span *ngIf="subItem.Valor>0">{{subItem.Valor | number :'1.1-2'}}</span>
                                                                        </div>
                                                                    </div>
                                                                </li>

                                                                <ul class="list-group" style="font-size: small;">
                                                                    <li *ngFor="let subItemN2 of subItem.SubItemsN2"
                                                                        class="list-group-item list-group-item-action border border-bottom">
                                                                        <div class="d-flex flex-row">
                                                                            <div class="flex-grow-1" style="width: 20% !important;">
                                                                                
                                                                            </div>
                                                                            <div class="flex-grow-1" style="width: 60% !important;">
                                                                                {{subItemN2.Descripcion}}
                                                                            </div>
                                                                            <div class="p-r-20 text-right" style="width: 20% !important;">
                                                                                <span *ngIf="subItemN2.Valor>0">{{subItemN2.Valor | number :'1.1-2'}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </ul>

                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>  
                            </ul>

                        </div>                        
                    </div>                    
                </div> 

                <hr/>
                
                <div class="table-responsive" style="max-height: 450px; overflow-y: auto;">
                    <table class="table table-hover" style="font-size: small;">
                        <thead>
                            <tr class="table-active">
                                <th style="width: 10%;">Usuario</th>
                                <th style="width: 15%;">Cliente</th>
                                <th style="width: 15%;">Proyecto</th>
                                <th style="width: 10%;">Función Asociada</th>
                                <th style="width: 10%;">Clasificación Actividad</th>
                                <th style="width: 15%;">Detalle</th>
                                <th style="width: 8%;">Período</th>
                                <th style="width: 10%;">Fecha</th>
                                <th style="width: 8%;">Horas Registradas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of listado$ | async;">
                                <tr>
                                    <td><ngb-highlight [result]="item.Usuario" [term]="filtro.value"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="item.Cliente" [term]="filtro.value"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="item.CodigoProyecto" [term]="filtro.value"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="item.FuncionaAsignada" [term]="filtro.value"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="item.ClasificacionDeActividad" [term]="filtro.value"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="item.DetalleYProducto" [term]="filtro.value"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="item.Periodo" [term]="filtro.value"></ngb-highlight></td>
                                    <td><ngb-highlight [result]="item.Fecha" [term]="filtro.value"></ngb-highlight></td>
                                    <td class="text-right p-r-10"><span>{{item.Horas | number :'1.1-2'}}</span></td>
                                    
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>                    
                </div>
                
            </div>
        </div>
    </div>
</div>


<ng-template #offcanvasFiltros let-offcanvas>
    <app-filtros></app-filtros>	    
</ng-template>



<!-- <li class="list-group-item list-group-item-action border border-bottom"
                                            *ngFor="let item of totalXProyecto ">
        
                                            <div class="d-flex flex-row">
                                                <div class="flex-grow-1" style="width: 65% !important;">
                                                    <ngb-highlight [result]="item.Descripcion" [term]="filtro.value"></ngb-highlight>
                                                </div>
                                                <div class="p-r-10 text-right" style="width: 30% !important;">
                                                    {{item.Valor | number :'1.1-2'}}
                                                </div>
                                                <div class="text-center" style="width: 5% !important;">
                                                    <span class="fw-bolder">+</span>
                                                </div>
                                            </div>
                                            <ul class="list-group m-t-10" style="font-size: small;">
                                                <li class="list-group-item list-group-item-action border border-bottom" 
                                                    *ngFor="let subItem of item.SubItems ">                
                                                    <div class="d-flex flex-row">
                                                        <div class="flex-grow-1" style="width: 80% !important;">
                                                            <ngb-highlight [result]="subItem.Descripcion" [term]="filtro.value"></ngb-highlight>
                                                        </div>
                                                        <div class="p-l-10 text-right" style="width: 20% !important;">
                                                            {{subItem.Valor | number :'1.1-2'}}
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>                        
                                        </li>-->




                                        <!-- <li class="list-group-item list-group-item-action border border-bottom" 
                                            *ngFor="let item of totalXUsuario ">
        
                                            <div class="d-flex flex-row">
                                                <div class="flex-grow-1" style="width: 65% !important;">
                                                    <ngb-highlight [result]="item.Descripcion" [term]="filtro.value"></ngb-highlight>
                                                </div>
                                                <div class="p-l-10 text-right" style="width: 30% !important;">
                                                    {{item.Valor | number :'1.1-2'}}
                                                </div>
                                                <div class="text-center" style="width: 5% !important;">
                                                    <span class="fw-bolder">+</span>
                                                </div>
                                            </div>
                                            
                                            <ul class="list-group m-t-10" style="font-size: small;">
                                                <li class="list-group-item list-group-item-action border border-bottom" 
                                                    *ngFor="let subItem of item.SubItems ">                
                                                    <div class="d-flex flex-row">
                                                        <div class="flex-grow-1" style="width: 80% !important;">
                                                            <ngb-highlight [result]="subItem.Descripcion" [term]="filtro.value"></ngb-highlight>
                                                        </div>
                                                        <div class="p-l-10 text-right" style="width: 20% !important;">
                                                            {{subItem.Valor | number :'1.1-2'}}
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li> -->